@charset "utf-8";

/* -------------------------------------------------------------- */
/* buttons
/* -------------------------------------------------------------- */
%btnBase {
  display: inline-block;
  text-align: center;
  padding: 0.8rem 1.1rem;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}
@mixin btnHollow($color, $radius: false) {
  color: $color;
  border: 1px solid $color;
  background-color: transparent;
  @if $radius  {
    border-radius: 4px;
  }
}
/**
 * m-btn
 */
.m-btn {
  @extend %btnBase;
}
/**
 * m-btn-hollow
 */
.m-btn-hollow {
  @extend %btnBase;
  &--white {
    @include btnHollow(#fff);
  }
}
/**
 * m-btn-menu-toggle
 */
.m-btn-menu-toggle {
  display: block;
  position: absolute;
  top: 16px;
  right: 15px;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  border-right: 0;
  box-shadow: none;
  text-align: center;
  @media #{$medium-up} {
    top: 32px;
  }
  &__icon {
    position: relative;
    display: block;
    width: 24px;
    height: 2px;
    margin: 0 auto;
    background-color: lighten($colorBlack, 17%);
    &:before,
    &:after {
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 2px;
      background-color: lighten($colorBlack, 17%);
      transition: all 0.3s;
      transition-duration: 0.3s 0.3s;
    }
    &:before {
      top: -6px;
      transition-property: top, transform;
    }
    &:after {
      top: 6px;
      transition-property: bottom, transform;
    }
    &--is-open {
      height: 0;
      &:before {
        top: 0;
        transform: rotate(45deg);
      }
      &:after {
        top: 0;
        transform: rotate(-45deg);
      }
    }
  }
}
