@charset "utf-8";

/* -------------------------------------------------------------- */
/* footer
/* -------------------------------------------------------------- */
.l-footer {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background-color: #fff;
  color: #ccc;
  letter-spacing: 1px;
  &__copy {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 10px;
    line-height: 1;
    @media #{$medium-up} {
      padding: 0 20px;
      letter-spacing: 2px;
    }
  }
  &__credit {
    margin-bottom: 8px;
    letter-spacing: 1px;
    a {
      font-weight: 600;
      color: #ccc;
    }
  }
}
