footer.l-footer
  p.l-footer__credit
    span.fa.fa-pencil
    |  with 
    span.fa.fa-heart
    |  by 
    a(href='https://github.com/featherplain/') featherplain
  p.l-footer__copy &copy; 2015 WORDCAMP TOKYO
