.s-repos
  ul.s-repos__list
    - for (var i = 0; i < 10; i++)
      li.s-repos__item
        .s-repo
          a(href='')
            .s-repo__thumb
              img(src='./images/repos/img_folder.png')
            .s-repo__content
              p.s-repo__name FOLDER
              p.s-repo__description クリアファイル
              p.s-repo__date Updated at 2016-09-12
            .s-repo__overlay
              p.s-repo__text.s-repo__text--ja リポジトリをみる
              p.s-repo__text.s-repo__text--en VIEW ON GITHUB
